<% provide(:title, 'Crear cuenta') %>
<div class="container login">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Crear usuario</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :nombre %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :apellido %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :rol %>
          <%= f.select :role, User.roles.to_a.map { |w,| [w.humanize, w] }, {prompt: "Seleciona un Rol"}, { class: 'form-control' } %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <%= f.submit "Crear", class: "btn btn-primary btn-lg btn-block" %>
      <% end %>
    </div>
  </div>
</div>
