<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @document.code %>
</p>

<p>
  <strong>Version:</strong>
  <%= @document.version %>
</p>

<p>
  <strong>Details:</strong>
  <%= @document.details %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
